<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #F3F3F3;
            font-family: Franklin Gothic Medium;
        }
        .nav-link:hover{
            background-color: #F5F5F5;
        }

    </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-white bg-white">
        <a class="navbar-brand" href="/"><img src="./static/tree.png" width="60"></a>
        <div class="border rounded border-info">
            {% if current_user.is_authenticated != True %}
                <span style="font-size: 15px;" class="text-info">ログインして下さい</span>
            {% else %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdownContent" aria-controls="dropdownContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{{ current_user.user_image_url }}" width="40" class="rounded-circle">
                <span style="font-size: 15px;" class="text-info">Account</span><br/>
            </button>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="dropdownContent">
            <hr style="background-color: gray; position: relative; left: -3vh; top: 0vh; width: 110%;">
            <ul class="navbar-nav mr-auto nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="/help" style="padding-left: 10px;">ヘルプ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" style="padding-left: 10px;">連絡先</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
