<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #F3F3F3;
            font-family: Franklin Gothic Medium;
        }
        .nav-item:hover{
            background-color: #f3f3f3;
        }
        .nav-pills .nav-item .nav-link:not(.active) {
            color: #5bc0de;
            background-color: white;
        }
        .nav-pills .nav-item .nav-link {
            color: white;
            background-color: #5bc0de;
        }
        nav .navbar-nav li a{
            color: #5bc0de !important;
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-white bg-white">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='tree.png') }}" width="60" style="margin: -15px; padding-left: 10px;"></a>
        <div class="border rounded border-info">
            {% if current_user.is_authenticated != True %}
                <span style="font-size: 15px;" class="text-info">ログインして下さい</span>
            {% else %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdownContent" aria-controls="dropdownContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{{ current_user.user_image_url }}" width="28" class="rounded-circle">
                <span style="font-size: 15px;" class="text-info">Account</span><br/>
            </button>
            {% endif %}
        </div>
        {% if current_user.is_authenticated == True %}
            <div class="collapse navbar-collapse" id="dropdownContent">
                <hr style="background-color: #f0f0f0; position: relative; left: -3vh; top: -1.2vh; width: 110%;">
                <ul class="navbar-nav mr-auto nav-right" style="margin-top: -15px;">
                    <li class="nav-item" style="margin: -1px; padding-left: 5px;">
                        <a class="nav-link" href="/user/{{ current_user.screen_name }}" style="font-size: 15px;">マイページ</a>
                    </li>
                    <li class="nav-item" style="margin: -1px; padding-left: 5px;">
                        <a class="nav-link" href="/recieved" style="font-size: 15px;">届いた質問</a>
                    </li>
                    <li class="nav-item" style="margin: -1px; padding-left: 5px;">
                        <a class="nav-link" href="/send" style="font-size: 15px;">送った質問</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
